.footer {
  width: 100%;
  background: #f7f7f7;
  color: #333;
  padding: 28px 0;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #ddd;
  z-index: 999;
}

.footer p {
  margin: 6px 0;
  opacity: 0.85;
}